[run]
source = src
omit = 
    src/__pycache__/*
    tests/__pycache__/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:

[html]
directory = coverage_html